#logo { margin-left: auto; margin-right: auto; display:block; }
#errors { background-color: #f2cece; padding: 10px; color: #a52020; border-radius: 5px; display:none; margin: 5px 5px 20px 5px;}
.negative { color: #ff0000;}